---
import Layout from "../layouts/Layout.astro";
// Page sections
import Header from "../components/Header.astro";
---

<Layout title="Camilo Acosta - Web Developer">
  <Header />
  <main></main>
</Layout>

<style></style>
